{% extends 'base.html' %}

{% block content %}

<h3>
    Отзывы:
</h3>
<hr>
{% for feet in object_list %}
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-header">{{ feet.user.username }}</div>
  <div class="card-body">
    <h5 class="card-title">Оценка: {{ feet.stars }}</h5>
    <p class="card-text">{{ feet.text }}</p>
  </div>
</div>

{% endfor %}

{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">


                {% if page_obj.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Дальше</a>
                    </li>
                {% endif %}


    </ul>
</nav>
{% endif %}
{% endblock %}