{% extends 'base.html' %}

{% block content %}

Приветствую вас на сайте JazzPractice, его цель помочь в изучении джазового сольфеджио.
Для доступа к ресурсам вам необходимо зарегистрироваться, после чего вам будет доступна
вкладка "практиковаться", где вам предстоит слушать у угадывать джазовые аккорды
(сразу все, или можно выбрать определённую группу аккордов), так же можете зайти во вкладку
"теория", где представленны нотные примеры всех аккордов, с возможностью их прослушать (рекомедуется слушать в наушниках).
С каждым угаданным аккордом у вас будет увеличиваться рейтинг, его вы сможете увидеть в личной страничке, где
вы так же сможете по желанию добавить свои личные данные.
Во вкладке "Лучшие" выводятся имена пользователей с наивыссшим рейтингом.
Во вкладке "Отзывы" вы можете прочесть отзывы о сайте от разных пользователей, после регистрации
вы можете так же написать свой отзыв.
<br>
В нашем проэкте уже {{ all }} участников!
<hr>
Особая благодарность Евгению Сивцову, за помощь в создании этого ресурса!
{% endblock %}