{% extends 'base.html' %}
{% load static %}
{% block content %}
<audio id="play_22_C" src="{% static 'Chords/Chord_22_C.wav' %}" hidden></audio>
<audio id="play_22_G" src="{% static 'Chords/Chord_22_G.wav' %}" hidden></audio>

<audio id="play_23_C" src="{% static 'Chords/Chord_23_C.wav' %}" hidden></audio>
<audio id="play_23_G" src="{% static 'Chords/Chord_23_G.wav' %}" hidden></audio>

<audio id="play_24_C" src="{% static 'Chords/Chord_24_C.wav' %}" hidden></audio>
<audio id="play_24_G" src="{% static 'Chords/Chord_24_G.wav' %}" hidden></audio>

<audio id="play_25_C" src="{% static 'Chords/Chord_25_C.wav' %}" hidden></audio>
<audio id="play_25_G" src="{% static 'Chords/Chord_25_G.wav' %}" hidden></audio>

<p>Большие мажорные септакорды это септаккорды включающие в свой состав мажорную терцию и
большую септиму (к ним так же добавленны аккорды 6/9 с секстой вместо септимы), внизу представленны нотные примеры этих септаккордов в тональностях До и Соль. Все нотные примеры можно прослушать кликнув на них.
</p>
<hr>
<div>
    <div>
        <img class="accord" id="accord_23_C" src="{% static 'Accords/Accord_23_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_23_G" src="{% static 'Accords/Accord_23_G.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_24_C" src="{% static 'Accords/Accord_24_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_24_G" src="{% static 'Accords/Accord_24_G.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_25_C" src="{% static 'Accords/Accord_25_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_25_G" src="{% static 'Accords/Accord_25_G.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_22_C" src="{% static 'Accords/Accord_22_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_22_G" src="{% static 'Accords/Accord_22_G.png' %}">
    </div>
</div>
<script src="{% static 'lessons/lessons_maj.js' %}"></script>

<link rel="stylesheet" href="{% static 'lessons_all.css' %}">


{% endblock %}