{% extends 'base.html' %}
{% load static %}
{% block content %}
<audio id="play_1_C" src="{% static 'Chords/Chord_1_C.wav' %}" hidden></audio>
<audio id="play_1_G" src="{% static 'Chords/Chord_1_G.wav' %}" hidden></audio>

<audio id="play_2_C" src="{% static 'Chords/Chord_2_C.wav' %}" hidden></audio>
<audio id="play_2_G" src="{% static 'Chords/Chord_2_G.wav' %}" hidden></audio>

<audio id="play_3_C" src="{% static 'Chords/Chord_3_C.wav' %}" hidden></audio>
<audio id="play_3_G" src="{% static 'Chords/Chord_3_G.wav' %}" hidden></audio>

<p>Малые минорные септаккорды - септаккорды включающие в себя минорную терцию
и малую септиму. Внизу представленны нотные примеры этих септаккордов в тональностях До и Соль. Все нотные примеры можно прослушать кликнув на них.</p>
<hr>
<div>
    <div>
        <img class="accord" id="accord_1_C" src="{% static 'Accords/Accord_1_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_1_G" src="{% static 'Accords/Accord_1_G.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_2_C" src="{% static 'Accords/Accord_2_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_2_G" src="{% static 'Accords/Accord_2_G.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_3_C" src="{% static 'Accords/Accord_3_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_3_G" src="{% static 'Accords/Accord_3_G.png' %}">
    </div>

</div>

<script src="{% static 'lessons/lessons_minor.js' %}"></script>
<link rel="stylesheet" href="{% static 'lessons_all.css' %}">



{% endblock %}