{% extends 'base.html' %}
{% load static %}
{% block content %}
<audio id="play_26_C" src="{% static 'Chords/Chord_26_C.wav' %}" hidden></audio>
<audio id="play_26_G" src="{% static 'Chords/Chord_26_G.wav' %}" hidden></audio>

<audio id="play_27_C" src="{% static 'Chords/Chord_27_C.wav' %}" hidden></audio>
<audio id="play_27_G" src="{% static 'Chords/Chord_27_G.wav' %}" hidden></audio>

<audio id="play_28_C" src="{% static 'Chords/Chord_28_C.wav' %}" hidden></audio>
<audio id="play_28_G" src="{% static 'Chords/Chord_28_G.wav' %}" hidden></audio>

<p>Большие минорные септаккорды - септаккорды включающие в себя минорную терцию и большую септиму
    (здесь к ним добавлен аккорд min6/9 с большой секстой вместо септимы) .
    Внизу представленны нотные примеры этих септаккордов в тональностях До и Соль.
    Все нотные примеры можно прослушать кликнув на них.</p>
<hr>
<div>
    <div>
        <img class="accord" id="accord_26_C" src="{% static 'Accords/Accord_26_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_26_G" src="{% static 'Accords/Accord_26_G.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_27_C" src="{% static 'Accords/Accord_27_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_27_G" src="{% static 'Accords/Accord_27_G.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_28_C" src="{% static 'Accords/Accord_28_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_28_G" src="{% static 'Accords/Accord_28_G.png' %}">
    </div>

</div>

<link rel="stylesheet" href="{% static 'lessons_all.css' %}">

<script src="{% static 'lessons/lessons_min.js' %}"></script>



{% endblock %}