{% extends 'base.html' %}

{% block content %}
{% load static %}
<audio id="play_4_C" src="{% static 'Chords/Chord_4_C.wav' %}" hidden></audio>
<audio id="play_4_G" src="{% static 'Chords/Chord_4_G.wav' %}" hidden></audio>

<audio id="play_5_C" src="{% static 'Chords/Chord_5_C.wav' %}" hidden></audio>
<audio id="play_5_G" src="{% static 'Chords/Chord_5_G.wav' %}" hidden></audio>

<audio id="play_6_C" src="{% static 'Chords/Chord_6_C.wav' %}" hidden></audio>
<audio id="play_6_G" src="{% static 'Chords/Chord_6_G.wav' %}" hidden></audio>

<audio id="play_7_C" src="{% static 'Chords/Chord_7_C.wav' %}" hidden></audio>
<audio id="play_7_G" src="{% static 'Chords/Chord_7_G.wav' %}" hidden></audio>

<audio id="play_8_C" src="{% static 'Chords/Chord_8_C.wav' %}" hidden></audio>
<audio id="play_8_G" src="{% static 'Chords/Chord_8_G.wav' %}" hidden></audio>

<audio id="play_9_C" src="{% static 'Chords/Chord_9_C.wav' %}" hidden></audio>
<audio id="play_9_G" src="{% static 'Chords/Chord_9_G.wav' %}" hidden></audio>

<audio id="play_10_C" src="{% static 'Chords/Chord_10_C.wav' %}" hidden></audio>
<audio id="play_10_G" src="{% static 'Chords/Chord_10_G.wav' %}" hidden></audio>

<audio id="play_11_C" src="{% static 'Chords/Chord_11_C.wav' %}" hidden></audio>
<audio id="play_11_G" src="{% static 'Chords/Chord_11_G.wav' %}" hidden></audio>

<audio id="play_12_C" src="{% static 'Chords/Chord_12_C.wav' %}" hidden></audio>
<audio id="play_12_G" src="{% static 'Chords/Chord_12_G.wav' %}" hidden></audio>

<audio id="play_13_C" src="{% static 'Chords/Chord_13_C.wav' %}" hidden></audio>
<audio id="play_13_G" src="{% static 'Chords/Chord_13_G.wav' %}" hidden></audio>

<audio id="play_14_C" src="{% static 'Chords/Chord_14_C.wav' %}" hidden></audio>
<audio id="play_14_G" src="{% static 'Chords/Chord_14_G.wav' %}" hidden></audio>

<audio id="play_15_C" src="{% static 'Chords/Chord_15_C.wav' %}" hidden></audio>
<audio id="play_15_G" src="{% static 'Chords/Chord_15_G.wav' %}" hidden></audio>

<audio id="play_16_C" src="{% static 'Chords/Chord_16_C.wav' %}" hidden></audio>
<audio id="play_16_G" src="{% static 'Chords/Chord_16_G.wav' %}" hidden></audio>

<p>Малые мажорные септаккорды, это септаккорды включающие в себя мажорную терцию и малую септиму,
    так же могут содержать в себе множество альтерированных ступеней. Внизу представленны нотные примеры этих септаккордов в тональностях До и Соль.
    Все нотные примеры можно прослушать кликнув на них.
</p>
<hr>
<div>
    <div>
        <img class="accord" id="accord_4_C" src="{% static 'Accords/Accord_4_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_4_G" src="{% static 'Accords/Accord_4_G.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_5_C" src="{% static 'Accords/Accord_5_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_5_G" src="{% static 'Accords/Accord_5_G.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_6_C" src="{% static 'Accords/Accord_6_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_6_G" src="{% static 'Accords/Accord_6_G.png' %}">
    </div>

    <div>
        <img class="accord" id="accord_7_C" src="{% static 'Accords/Accord_7_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_7_G" src="{% static 'Accords/Accord_7_G.png' %}">
    </div>

    <div>
        <img class="accord" id="accord_8_C" src="{% static 'Accords/Accord_8_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_8_G" src="{% static 'Accords/Accord_8_G.png' %}">
    </div>

    <div>
        <img class="accord" id="accord_9_C" src="{% static 'Accords/Accord_9_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_9_G" src="{% static 'Accords/Accord_9_G.png' %}">
    </div>

    <div>
        <img class="accord" id="accord_10_C" src="{% static 'Accords/Accord_10_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_10_G" src="{% static 'Accords/Accord_10_G.png' %}">
    </div>

    <div>
        <img class="accord" id="accord_11_C" src="{% static 'Accords/Accord_11_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_11_G" src="{% static 'Accords/Accord_11_G.png' %}">
    </div>

    <div>
        <img class="accord" id="accord_12_C" src="{% static 'Accords/Accord_12_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_12_G" src="{% static 'Accords/Accord_12_G.png' %}">
    </div>

    <div>
        <img class="accord" id="accord_13_C" src="{% static 'Accords/Accord_13_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_13_G" src="{% static 'Accords/Accord_13_G.png' %}">
    </div>

    <div>
        <img class="accord" id="accord_14_C" src="{% static 'Accords/Accord_14_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_14_G" src="{% static 'Accords/Accord_14_G.png' %}">
    </div>

    <div>
        <img class="accord" id="accord_15_C" src="{% static 'Accords/Accord_15_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_15_G" src="{% static 'Accords/Accord_15_G.png' %}">
    </div>

    <div>
        <img class="accord" id="accord_16_C" src="{% static 'Accords/Accord_16_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_16_G" src="{% static 'Accords/Accord_16_G.png' %}">
    </div>

</div>

<script src="{% static 'lessons/lessons_sept.js' %}"></script>
<link rel="stylesheet" href="{% static 'lessons_all.css' %}">


<script src="{% static 'lessons/lessons_sept.js' %}"></script>
{% endblock %}