{% extends 'base.html' %}
{% load static %}
{% block content %}
<audio id="play_19_C" src="{% static 'Chords/Chord_19_C.wav' %}" hidden></audio>
<audio id="play_19_G" src="{% static 'Chords/Chord_19_G.wav' %}" hidden></audio>

<audio id="play_20_C" src="{% static 'Chords/Chord_20_C.wav' %}" hidden></audio>
<audio id="play_20_G" src="{% static 'Chords/Chord_20_G.wav' %}" hidden></audio>

<audio id="play_21_C" src="{% static 'Chords/Chord_21_C.wav' %}" hidden></audio>
<audio id="play_21_G" src="{% static 'Chords/Chord_21_G.wav' %}" hidden></audio>

<p>Sus аккорды это септаккорды включающие в себя 4ю ступень вместо терции и малую септиму.
    Внизу представленны нотные примеры этих септаккордов в тональностях До и Соль.
    Все нотные примеры можно прослушать кликнув на них.</p>
<hr>
<div>
    <div>
        <img class="accord" id="accord_19_C" src="{% static 'Accords/Accord_19_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_19_G" src="{% static 'Accords/Accord_19_G.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_20_C" src="{% static 'Accords/Accord_20_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_20_G" src="{% static 'Accords/Accord_20_G.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_21_C" src="{% static 'Accords/Accord_21_C.png' %}">
    </div>
    <div>
        <img class="accord" id="accord_21_G" src="{% static 'Accords/Accord_21_G.png' %}">
    </div>

</div>

<link rel="stylesheet" href="{% static 'lessons_all.css' %}">

<script src="{% static 'lessons/lessons_sus.js' %}"></script>


{% endblock %}